*{
  text-decoration:none;
}
body{
  margin: 0;padding:0;
  font-family:Arial, Helvetica, sans-serif;
}
.box-menu{
  background-color: white;
  text-align: center;
}
.box-menu ul{
  display:inline-flex;
  list-style: none;
  color:#fff;
}
.box-menu ul li{
  width:120px;
  margin: 12px;
  padding:10px;

}
box-menu ul li a{
  color:white;
  text-decoration:none;
}
.active,.box-menu ul li:hover{
  background:white;
  border-radius: 5px;
}
.box-submenu{
  display:none;
}
.box-menu ul li:hover .box-submenu{
  display:block;
  padding-bottom:absolute;
  background: rgb(245, 240, 240);
  margin-top:1px;
  margin-left:-55px;
}
.box-menu ul li:hover .box-submenu ul{
  display:block;
  margin: 0px;
  padding: 0px;
}
.box-menu ul li:hover .box-submenu ul li{
  width: 220px;
  text-align: left;
  border-bottom: dotted 1px #fff;
  background: transparent;
  border-radius: 0;
  padding: 10px;
  margin:10px;
}
.box-menu ul li:hover .box-submenu ul li:last-child{
  border-bottom: none;
}
.box-menu ul li:hover .box-submenu ul li a:hover{
 color:yellowgreen; 
}